[user]
	name = Sergej Herbert
	email = herbert.sergej@gmail.com
[core]
	editor = code --wait
	excludesfile = /home/sergej/.gitignore_global
	autocrlf = input
[pager]
	branch = false
[pull]
	ff = only
